/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
html {
  box-sizing: border-box;
  font: 1rem "Open Sans", sans-serif;
  color: var(--dark);
}

body {
  background: rgb(236, 235, 235);
  margin: 30px 50px;
  line-height: 1.4;
}
/*
img {
  max-width: 100%;
  }*/
  
.full-container {
  display: grid;
  grid-gap: 20px;
}


/* Header */
.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.top-header h1 {
  font: 2rem Merriweather, sans-serif;
  text-align: center;
}

.container {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  line-height: 0.1;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1 {
  background-color:rgb(11, 8, 236);
}
.bar2 {
  background-color: rgb(199, 14, 29);
}
.bar3 {
  background-color: rgb(14, 4, 4);
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


/* Section */
.grid-container-2 {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid-template-areas: 
    'food-display-container-1 food-display-container-2 food-display-container-3 food-display-container-4'
    'food-display-container-5 food-display-container-6 food-display-container-7 food-display-container-8';
    margin: 20px;
}

.food-display-container-1 {
  grid-area: food-display-container-1;
}
.food-display-container-2 {
  grid-area: food-display-container-2;
}
.food-display-container-3 {
  grid-area: food-display-container-3;
}
.food-display-container-4 {
  grid-area: food-display-container-4;
}
.food-display-container-5 {
  grid-area: food-display-container-5;
}
.food-display-container-6 {
  grid-area: food-display-container-6;
}
.food-display-container-7 {
  grid-area: food-display-container-7;
}
.food-display-container-8 {
  grid-area: food-display-container-8;
}

.food-display-container {
  margin: 8px;
  width: 280px;
  border: 0.5px solid rgb(219, 218, 218);
}

.food-display-container img {
  width: 100%;
  height: 250px;
}

.food-display-container img:hover {
  border-radius: 5px;
}

.food-display-container:hover {
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.desc {
  padding: 5px 10px;
  text-align: center;
}


/* Second Section */

.grid-container-3 {
  display: grid;
  justify-content: center;
  margin: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pagination {
  margin: 70px; 
}

.pagination a {  
  color: var(--dark);
  text-decoration: none;
  text-align: center;   
  padding: 0.8rem;
}

/*.pagination span {
  background: var(--dark);
  color: var(--light); 
}*/

.pagination a:hover {
  background: var(--dark);
  color: var(--light);
}

/*.pagination span:hover {
  background: var(--light);
  color: var(--dark);
}*/

.desc-2 img {
  width: 65%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.desc-2 {  
  padding: 5px 10px;
  text-align: center;
}

.desc-2 h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.line-break {
  width: 100%;
  height: 1px;
  background-color: rgb(219, 218, 218);
  margin-bottom: 70px;
}

/* Footer */

.footer-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);  
  justify-content: center;
}

.image-styling {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  line-height: 0.5;
}

.image-styling img {
  width: 100px;
  height: auto;
}

.footer-style-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.footer-style-3 > div {
  background: LightGray;
  font-size: 0.8em;
}
.footer-style-3 .first {
  background: #000;
  color: #fff;
}




@media (max-width: 900px) {

.grid-container-2 {
  display: grid;
  grid-gap: 5px;
  margin: 20px;
  justify-content: center;
  grid-template-areas: 
    'food-display-container-1 food-display-container-2' 'food-display-container-3 food-display-container-4'
    'food-display-container-5 food-display-container-6' 'food-display-container-7 food-display-container-8';
}

.footer-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;  
  justify-content: center;
  text-align: center;
}
}


@media (max-width: 600px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
  }

  .grid-container-2 {
    display: grid;
    grid-gap: 5px;
    margin: 20px;
    justify-content: center;
    grid-template-areas: 
      'food-display-container-1' 
      'food-display-container-2' 
      'food-display-container-3' 
      'food-display-container-4'
      'food-display-container-5' 
      'food-display-container-6' 
      'food-display-container-7' 
      'food-display-container-8';
  }

}








/* {
  box-sizing: border-box;
}
body {
  background: rgba(224, 223, 223, 0.3);;
  font: 1em/1.5 "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

#full-container {
  width: 90%;
  margin: auto;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header {
  font: 1.7em Merriweather, sans-serif;
  padding: 20px;
}

.container {
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  line-height: 0.1;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1 {
  background-color:rgb(11, 8, 236);
}
.bar2 {
  background-color: rgb(199, 14, 29);
}
.bar3 {
  background-color: rgb(14, 4, 4);
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
.food-display-container-1 {
  margin: 8px;
  width: 280px;
  border: 0.5px solid rgb(238, 236, 236);
  margin-bottom: 50px;
}
.food-display-container-1 img {
  width: 100%;
  height: 250px;
}
.food-display-container-1 img:hover {
  border-radius: 5px;
}
.desc {
  padding: 5px 10px;
  text-align: center;
}
.food-display-container-1:hover {
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section {
  width: 90%;
  margin: auto;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
.grid-container-3 img {
  width: 70%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.desc-2 {
margin-bottom: 50px;
}*/

